/*ESTILOS CONTAINERS*/

#container{
    /*Cambio los bordes porque no me queda claro
    si el gris es el fondo del recorte o un borde.
    PEro así ves cómo aplico el border-radius al body/container*/
    border: 1px solid gray;
    /*A diferencia del CSS del ejercicio 8, 
    corrijo el padding izquierdo para que quede perfecto*/
    padding: 10px 20px 10px 0; 
    width: 900px;
    border-radius: 15px;
}

#contenido{
    background-color: white;
    display: flex;
}

#menu{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: 20%;
}

#texto{
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 1em;
    width: 80%;
    background: linear-gradient(0deg, rgba(0,0,0,0.2049194677871149) 2%, rgba(255,0,0,0) 10%, rgba(255,0,0,0) 90%, rgba(0,0,0,0.2) 98%);
}

/*Agrego el estilo del footer*/

footer{
    text-align: center;
    color: gray
}

footer a{
    color: gray;
}

/*ESTILOS GENERALES*/

h1{
    color: green;
    letter-spacing: 5px;
    text-align: center;
}

h1 > span, h3{
    color: orange;
}

/*ESTILOS CONTAINER MENÚ*/

#menu ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#menu ul li{
    /*Cambio de color al gradiente que parece tener el ejemplo*/
    background: linear-gradient(0deg, rgba(150,232,60,1) 2%, rgba(0,0,0,0) 50%);
    /*Me da la sensación que tiene algo de redondeo el borde y necesito ponerlo
    tanto aquí como en a para que se aplique correctamente. No sé si esto
    es correcto, pero era la forma de aplicarlo en los 4 bordes*/
    border-radius: 2px;
}

#menu ul li a{
    display: block;
    padding: 0.5em 2em;
    text-align: center;
    margin: 0.5em auto;
    text-decoration: none;
    color: black;
    font-size: 18px;
    /*Cambio de color al borde que parece tener el ejemplo*/
    border: 1px solid rgba(177, 177, 177, 0.26);  
    /*Me da la sensación que tiene algo de redondeo el borde y necesito ponerlo
    tanto aquí como en a para que se aplique correctamente. No sé si esto
    es correcto, pero era la forma de aplicarlo en los 4 bordes*/  
    border-radius: 2px;
}

/*Aquí la class incrustada en el código html del a perteneciente 
a la página actual para que tenga un color de fondo diferente*/
.enlace_activo{
    /*También cambio los estilos del botón del enlace activo*/
    background: linear-gradient(0deg, rgb(245, 178, 102) 2%, rgba(100, 56, 56, 0) 50%);
}

/*Aquí el :hover que pides que cambia el color del enlace 
a uno ligeramente más oscuro*/
#menu ul li a:hover{
    background-color:rgb(131, 175, 43);
}

/*ESTILOS CONTAINER TEXT*/

h2{
    color:rgba(0, 163, 49, 0.842);
    margin-bottom: 0;
}

hr{
    border-color: rgba(115, 255, 0, 0.295);
    margin-top: 0;
}

